@import 'reset';
@import 'variables';

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;

  background-color: $gray-mid;
}

.app {
  display: flex;

  &-col-spacer {
    flex: 1 1 auto;
  }
}

.canvas {
  display: flex;
  justify-content: center;
  flex-direction: column;

  flex: 0 0 auto;
  border-width: 3px;
  border-style: solid;
  border-color: darken($gray, 20%) lighten($gray, 20%) lighten($gray, 20%)
    darken($gray, 20%);
}

.box {
  border-radius: 0;
  border-width: 3px;
  border-style: solid;
  background-color: $gray;
  border-color: lighten($gray, 20%) darken($gray, 20%) darken($gray, 20%)
    lighten($gray, 20%);

  &:hover,
  &:focus {
    background-color: lighten($gray, 10%);
  }
}
