@import '../../assets/scss/variables';

.board {
  display: flex;
  justify-content: center;

  &-row {
    display: flex;
    justify-content: center;

    &-cell.flagged {
      background-image: url(../../assets/images/flag.svg);
      background-repeat: no-repeat;
      background-position: center center;
    }

    &-cell.question {
      background-image: url(../../assets/images/question.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 70%;
    }

    &-cell.revealed {
      padding: 2px;
      border: 1px solid $gray-border;
    }

    &-cell.busy {
      background-color: $gray-mid;
      margin: 3px;
      border: none;
    }

    &-cell.point {
      text-align: center;
      font-size: 90%;
      font-weight: bold;
    }

    &-cell.point-1 {
      color: #0000ff;
    }
    &-cell.point-2 {
      color: #037d02;
    }
    &-cell.point-3 {
      color: #fd0000;
    }
    &-cell.point-4 {
      color: #010180;
    }
    &-cell.point-5 {
      color: #830101;
    }
    &-cell.point-6 {
      color: #038081;
    }
    &-cell.point-7 {
      color: #000000;
    }
    &-cell.point-8 {
      color: #808080;
    }

    &-cell.mined {
      background-image: url(../../assets/images/mine.png);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: 90%;
    }

    &-cell.mined-red {
      background-color: rgba(255, 0, 0, 0.6);
    }

    &-cell {
      width: $cell-size;
      height: $cell-size;
      line-height: $cell-size;
    }
  }
}
