@import '../../assets/scss/variables';

.header {
  max-width: 500px;
  width: 100%;
  padding: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  .settings {
    max-width: 221px;
    display: flex;
    justify-content: center;
    margin: 10px auto;

    input {
      width: 40px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      background: $gray-light;
      margin: 0 2px;
    }

    .button {
      cursor: pointer;
      margin: 0 2px;
    }
  }

  .canvas {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    .led-panel {
      font-family: 'Space Mono', monospace;
      background: $gray-dark;
      color: $red;
      text-shadow: 0 0 2px rgba($red, 1);
      line-height: 30px;
      letter-spacing: 0.05em;
      text-align: center;
      width: 30px;
    }

    .reset {
      width: 30px;
      line-height: 30px;
      text-align: center;
      cursor: pointer;
    }
  }
}
